@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
body {
    background: url('../images/FOND.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.navbar {
    position: relative;
    background-color: black;
}

.nav-item {
    padding-left: 3rem;
}

.nav-logo {
    margin-left: 2rem;
    margin-right: 2rem;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.spacer {
    margin-top: 10rem;
}

.fontAnton {
    font-family: 'Anton', sans-serif;
}

.fontRaleway {
    font-family: 'Raleway', sans-serif;
}

.fontStencil {
    font-family: 'Allerta Stencil', sans-serif;
}

.font .text-align-center {
    text-align: center;
}


/* ABOUT SECTION
///////////////// */

#about>.container {
    /* border: red solid 5px; */
    height: 35rem;
    align-items: center;
    display: flex
}

#about>img {
    position: absolute;
}

.rect-black {
    /* border: black solid 5px; */
    align-items: center;
    background-color: black;
    height: 35rem;
}

.title-container {
    /* border: green solid 5px; */
    height: 5rem;
    z-index: 10;
    text-align: center;
    font-size: 112px;
}

.text-container>.fontAnton {
    font-size: 43px;
}

.text-container>.fontRaleway {
    font-size: 20px;
}


/* NETWORK SECTION
///////////////// */

.title-network {
    margin-bottom: 5rem;
    font-size: 73px;
}


/* YOUTUBE SECTION
///////////////// */

#youtube>.container {
    /* border: red solid 5px; */
    height: 35rem;
    align-items: center;
    display: flex
}

#youtube>.container>img {
    position: absolute;
    margin-left: 40rem;
}

.title-container-rtl>img {
    position: absolute;
    margin-top: -21rem;
}

.title-container-rtl {
    /* border: green solid 5px; */
    height: 5rem;
    z-index: 10;
    font-size: 112px;
}

.text-container-rtl>.fontAnton {
    font-size: 43px;
}

.text-container-rtl>.fontRaleway {
    font-size: 20px;
}


/* SPONSORS SECTION
///////////////// */

.title-sponsors {
    margin-bottom: 5rem;
    font-size: 73px;
}


/* ABOUT SECTION
///////////////// */

#roster>.container {
    /* border: red solid 5px; */
    height: 35rem;
    align-items: center;
    display: flex
}

#roster>img {
    position: absolute;
}


/* ROSTER SECTION
///////////////// */

.title-container-roster {
    /* border: green solid 5px; */
    height: 5rem;
    z-index: 10;
    text-align: center;
    font-size: 112px;
    flex: 0.5;
}

.img-roster {
    height: 30rem;
}


/* NEWS SECTION
///////////////// */

.title-news-section {
    margin-bottom: 5rem;
    font-size: 73px;
}

.card-body {
    color: black;
}


/* SHOP SECTION
///////////////// */

#shop>.container {
    /* border: red solid 5px; */
    height: 35rem;
    align-items: center;
    display: flex
}

#shop>.container>img {
    position: absolute;
    margin-left: 40rem;
}


/*  FOOTER
///////////////// */

.footer-basic-centered {
    background-color: black;
    text-align: center;
    padding: 45px;
}

.footer-basic-centered .footer-text {
    color: #8f9296;
    font-size: 14px;
}


/* Media Query for devices withi coarse pointers and no hover functionality */


/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('../images/header_image.png') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

@media (max-width: 600px) {
    .footer-basic-centered {
        padding: 35px;
    }
    .footer-basic-centered .footer-text {
        font-size: 12px;
    }
}